{% extends 'base.html' %}
{% load static %}


{% block main %}
<main class="container mt-header">
	<article class="row">
		<div class="col-12 col-lg-6 mb-3 mb-lg-0">
			<h1 class="fw-bold SelfStorage_green mb-5">Доставка и бережное хранение ваших вещей</h1>
			{% if box %}
				<div class="form-control  border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey">{{ box }}</div>
			{% endif %}
			<form method="post">
				{% csrf_token %}
				<table border="1">
					{% for field in form %}
					<div class="form-control  border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey">
						{{ field.label_tag }} {{ field }}
					</div>
				{% endfor %}
				</table>
				<button type="submit" class="btn  border-8 py-3 px-5 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Рассчитать стоимость</button>
			</form>			
		<div class="col-12 col-lg-6 SelfStorage__img"></div>
	</article>
</main>
{% endblock %}
